body {
  text-align: center;
  background-color: black;
}

#level-title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 50px;
  margin:  5%;
  color: white;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.blue {
  background-color: #6B88D3;
}

.periwinkle {
  background-color: #A0A9FF;
}

.lavender {
  background-color: #C6B0FF;
}

.pink {
  background-color: #E8C8FF;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
